<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>

    <style>
        .div_box {
            border: 1px solid gray;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>按钮</h1>
        <div class="div_box">
            <p>
                <button type="button" class="btn btn-default">默认按钮</button>
                <button type="button" class="btn btn-primary">原始按钮</button>
                <button type="button" class="btn btn-success">成功按钮</button>
                <button type="button" class="btn btn-info">信息按钮</button>
                <button type="button" class="btn btn-warning">警告按钮</button>
                <button type="button" class="btn btn-danger">危险按钮</button>
                <button type="button" class="btn btn-link">链接按钮</button>
            </p>
            <p>
                <button type="button" class="btn btn-default active">激活的默认按钮</button>
                <button type="button" class="btn btn-primary active">激活的原始按钮</button>
                <button type="button" class="btn btn-success active">激活的成功按钮</button>
                <button type="button" class="btn btn-info active">激活的信息按钮</button>
                <button type="button" class="btn btn-warning active">激活的警告按钮</button>
                <button type="button" class="btn btn-danger active">激活的危险按钮</button>
                <button type="button" class="btn btn-link active">激活的链接按钮</button>
            </p>
            <p>
                <button type="button" class="btn btn-default" disabled="disabled">禁用的默认按钮</button>
                <button type="button" class="btn btn-primary" disabled="disabled">禁用的原始按钮</button>
                <button type="button" class="btn btn-success" disabled="disabled">禁用的成功按钮</button>
                <button type="button" class="btn btn-info" disabled="disabled">禁用的信息按钮</button>
                <button type="button" class="btn btn-warning" disabled="disabled">禁用的警告按钮</button>
                <button type="button" class="btn btn-danger" disabled="disabled">禁用的危险按钮</button>
                <button type="button" class="btn btn-link" disabled="disabled">禁用的链接按钮</button>
            </p>
        </div>

        <h1>图片</h1>
        <p>
            <img src="/static/images/03.jpg" width="20%" class="img-rounded">
            <img src="/static/images/03.jpg" width="20%" class="img-circle">
            <img src="/static/images/03.jpg" width="20%" class="img-thumbnail">
        </p>

        <h1>辅助类</h1>
        <p class="text-muted" type="text">text-muted</p>
        <p class="text-primary" type="text">text-primary</p>
        <p class="text-success" type="text">text-success</p>
        <p class="text-info" type="text">text-info</p>
        <p class="text-warning" type="text">text-warning</p>
        <p class="text-danger" type="text">text-danger</p>

        <p class="bg-primary" type="text">bg-primary</p>
        <p class="bg-success" type="text">bg-success</p>
        <p class="bg-info" type="text">bg-info</p>
        <p class="bg-warning" type="text">bg-warning</p>
        <p class="bg-danger" type="text">bg-danger</p>

        <p>插入实例
            <span class="caret"></span>
        </p>

        <div class="row">
            <div class="center-block" style="width: 200px; background-color: indianred;">
                这是 center-block 实例
            </div>
        </div>

        <h1>字体文字</h1>
        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span>用户</button>
    </div>
</body>

</html>