<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>

    <style>
        .div_box {
            border: 1px solid gray;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>导航菜单</h1>
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">SVN</a>
            </li>
            <li>
                <a href="#">iOS</a>
            </li>
            <li>
                <a href="#">C++</a>
            </li>
            <li>
                <a href="#">Python</a>
            </li>
        </ul>
        <br>
        <ul class="nav nav-pills nav-justified">
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li class="disabled">
                <a href="#">SVN</a>
            </li>
            <li>
                <a href="#">iOS</a>
            </li>
            <li>
                <a href="#">C++</a>
            </li>
            <li>
                <a href="#">Python</a>
            </li>
        </ul>
        <br>
        <ul class="nav nav-pills nav-stacked">
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">SVN</a>
            </li>
            <li>
                <a href="#">iOS</a>
            </li>
            <li>
                <a href="#">C++</a>
            </li>
            <li>
                <a href="#">Python</a>
            </li>
        </ul>
        <br>
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">SVN</a>
            </li>
            <li>
                <a href="#">iOS</a>
            </li>
            <li>
                <a href="#">C++</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Python
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Swing</a>
                    </li>
                    <li>
                        <a href="#">jMeter</a>
                    </li>
                    <li>
                        <a href="#">EJB</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">分离的链接</a>
                    </li>
                </ul>
            </li>
        </ul>
        <br>
        <ul class="nav nav-pills nav-justified">
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">SVN</a>
            </li>
            <li>
                <a href="#">iOS</a>
            </li>
            <li>
                <a href="#">C++</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Python
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Swing</a>
                    </li>
                    <li>
                        <a href="#">jMeter</a>
                    </li>
                    <li>
                        <a href="#">EJB</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">分离的链接</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>